{% extends "base.html" %}

{% block title %}
    Stewad Token AI
{% endblock %}

{% block content %}
    <h2>Steward AI</h2>
    <p>What tokens do you want to hear about?</p>
    <select id="network">
        <option value="eth">ETH</option>
        <option value="polygon_pos">POLY</option>
        <option value="optimism">OPT</option>
        <option value="arbitrum">ARB</option>
    </select>
    <select id="tokens" multiple> <!-- this should be a list where you can select more than one. -->
        <!-- Your list of tokens goes here -->
        <option value="0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599">BTC</option>
        <option value="0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2">Ethereum</option>
        <option value="0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984">Uniswap</option>
        <!-- ... -->
    </select>
    <br>
    <button onclick="getSuggestion()">Get Token Suggestion</button>
    
    <div id="loader" class="loader"></div>
    <h3>Suggestion:</h3>
    <p id="suggestion"></p>
{% endblock %}

