{% extends "base.html" %}

{% block title %}
    Steward Token AI
{% endblock %}

{% block content %}
    <form id="tokenSuggestionForm">
        <h2>Steward AI</h2>
        <p>What tokens do you want to hear about?</p>
        <label>
            Age: 
            <input type="number" name="age" required>
        </label>
        <label>
            Income: 
            <input type="number" name="income" required>
        </label>
        <label>
            Risk Score (1-10): 
            <input type="number" name="risk_score" min="1" max="10" required>
        </label>
        <label>
            Chain: 
            <input type="text" name="chain" value="eth" required>
        </label>
        <input class="btn custom-btn" type="submit" value="Get Token Suggestion">
        <div id="loader" class="loader mb-3"></div>
    </form>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
{% endblock %}