{% extends "base.html" %}

{% block title %}
    Steward Token AI
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <div>
            {{ form.username.label }}
            {{ form.username() }}
        </div>

        <div>
            {{ form.email.label }}
            {{ form.email() }}
        </div>

        <div>
            {{ form.password.label }}
            {{ form.password() }}
        </div>

        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>

        <div>
            {{ form.submit() }}
            <a href="{{ url_for('login') }}">Already have an account? Login here</a>
        </div>
    </form>

{% endblock %}